/* ADD FONT STYLES FILE */
@font-face{
    font-family: SofiaSans-variablef ;
    src: url(fonts/SofiaSans-variablef.ttf);
}

@font-face {
    font-family: caveat;
    src: url(fonts/Caveat.ttf);
}

@font-face {
    font-family:Pacifico;
    src: url(fonts/Pacifico-Regular.ttf);
}

@font-face {
    font-family: lexend;
    src: url(fonts/Lexend-Regular.ttf);
}
/* =============================================== */


/* COMPANY LOGO */
#cmplogo{
    width: 30px;
    height: 30px;
}

/* COMPANY NAME */

.navbar-brand{
    font-family: SofiaSans-variablef ; 
    font-size: large;  
    font-weight: bold;
}

/* NAVBAR ITEMS */
#stylenavitems{
    font-family: SofiaSans-variablef ;
    font-size:large;   
    font-weight: bold; 
}

#configitems{
    color: black;
}

#configitems:hover{
    
    transition: background-color 1s ease;
    transition: color 0.5s ease;
    background-color:#0D6EFD; 
    color: white;
}

.configborder{
    border: 1px solid white;
    border-radius: 10px;
}


/* SIGN UP */
#stylesignupbtn{
    font-family: SofiaSans-variablef ; 
    font-size: medium;  
    font-weight: bold;
}

#signupconfig:hover{
    
    transition: background-color 1s ease;
    transition: color 0.5s ease;
    background-color:#0D6EFD; 
    color: white;
}

#signupconfig{
    color:#0D6EFD;
    
}


/* LOGIN  */

#stylelogin:hover,#configlogintext:hover{
    
    transition:background-color 1s ease;
    background-color: #DECA79;
    color: black;
    
    
}

#stylelogin{
    font-family:SofiaSans-variablef;
    font-size: medium;
    font-weight: bold;   

}

#configlogintext{
    color: white;
    
}

/* DROPDOWN MENU */

.dropdown-item{
    font-family: SofiaSans-variablef;
    font-weight: bold;
    font-size: medium;
}

.dropdown-item:hover{
    transition: background-color 1s ease;
    transition: color 0.5s ease;
    background-color:#0D6EFD; 
    color: white;
}


/* ATTRACT AUDIENCE ENDOURESE */

span.wordconfig{
       font-family: lexend;

}

span.wordconfig{
    font-family: Pacifico;    
}


pre{
    font-family: lexend; 
}

.shake-horizontal {
	animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}


