/* FONTS LINKED */

@font-face {
      font-family: lexend;
      src: url(fonts/Lexend-Regular.ttf);
  }

@font-face {
      font-family:crimsonreg;
      src: url(fonts/crimson_regular.ttf);
}  


/* =========  DESIGNING PART ===========  */

/* BACKGROUND IMAGE */
body{
      background-image: url("../doorenterprise/image/backimage.png");
}

.collapse{
      background-image: url(../doorenterprise/image/backimage.png);
}



/* NAV-ITEMS */

#configitems{
      font-family: lexend;
      font-size:large;
       
}

#configitems:hover{
      color: #f8e160;
      background-color: black;
      
}
  
#companyname{
      font-family: crimsonreg;
      font-size:x-large;
}



/* SIGN IN */

#configsignup{
      font-family: lexend;
}


#configlogin{
      font-family: lexend;
      font-size:large;
}


#configbanner{
      -webkit-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
}





